table {
    align-items: center;
    margin:auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

p.ex1 {
    margin-left: 250px;
    background-color: blue;
}

.mySlides {
    display:none;
}

body {
    background-color:whitesmoke;
    margin-left: 15px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
}
